@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);
body {
  background-color: #f9f9f9;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 20px;
  padding: 0;
  padding-top: 100px;
}

.carousel {
  max-height: 300px;
  overflow: hidden;
}

.department-container {
  background-color: #eee;
  padding: 10px 20px;
}

.department-component {
  margin-bottom: 15px;
  background-color: #fff;
  padding-left: 10px;
  padding-bottom: 30px;
  font-size: 14px;
  color: #444;
}

.department-component img {
  padding-left: 30%;
  padding-bottom: 20px;
}
