.brand {
  font-size: 20px;
  font-weight: bold;
  color: #f37272;
}

#search {
  width: 100%;
}

#btn-cart {
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}
ul li {
  display: inline-block;
  margin: 0 20px;
}
.input-group {
  width: 100%;
}
.form-group {
  width: 100%;
}
.navbar-form {
  width: 50%;
  min-width: 20%;
}

.nav-tabs a {
  /*font-size: 20px;*/
  color: #584e4a;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
}
.nav-tabs a:before,
.nav-tabs a:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #f37272;
}
.nav-tabs a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  -webkit-transition: opacity 0s,
    -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s,
    -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s,
    -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-tabs a:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition: opacity 0.2s,
    -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s,
    -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-tabs a:hover:before,
.nav-tabs a:hover:after,
.nav-tabs a:focus:before,
.nav-tabs a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.nav-tabs a:hover:before,
.nav-tabs a:focus:before {
  -webkit-transition: opacity 0.2s,
    -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s,
    -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-tabs a:hover:after,
.nav-tabs a:focus:after {
  -webkit-transition: opacity 0s 0.2s,
    -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s 0.2s,
    -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s,
    -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
